<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<script type="text/javascript">
  if(navigator.geolocation)
  {
    navigator.geolocation.getCurrentPosition(function(position){
      console.log(position)
    },
    function(error){
      console.log(error.code);
      console.log(error.message);
    });
  }
</script>
</body>
</html>