<!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
  <form action="/drawings" method="post">
    <input type="text" name="sections_attributes[0][color]">

    <div>
      <input type="text" name="sections_attributes[0][points_attributes][0][latitude]">
      <input type="text" name="sections_attributes[0][points_attributes][0][longitude]">
    </div>

    <input type="submit" value="Guardar">
  </form>

  <script type="text/javascript">
    
  </script>
 </body>
 </html> 
